/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.myData {
	color: yellow;
	background-color: var(--black);
	padding: 16px;
}

.cardContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
