/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.myData {
	color: yellow;
	background-color: var(--black);
	padding: 16px;
}

.cardContainer {
	display: grid;

@media only screen and (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
		margin-right: 0;
		margin-left: 83px
}

@media only screen and (min-width: 600px) {
		grid-template-columns: repeat(3, 1fr);
		margin-right: 0;
		margin-left: auto;
		width: 75%
}
}

.noResults {
	color: var(--HC---Gray-4, #4e515d);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 200% */
}
